.tags {
    margin-top: 10px;
        .tag {
            background-color: #f700ff1f;
            color: #ff00f2;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 12px;
            display: inline-block;
            margin-right: 5px;
        }
}